[Unit]
Description=KVM Guest Configuration
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/bin/true
ExecStop=/usr/sbin/dmi-spark unregister
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
