[Unit]
Description=KVM Guest Configuration
After=network-online.target dmi-spark.service
Wants=network-online.target

[Service]
ExecStart=/usr/sbin/dmi-spark register
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
